html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family:'Verdana';
}

body {
  scrollbar-gutter: stable;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Etown official colors:
  - Main blue   004B98
  - Dark blue   0A2240
  - Red         E1261C
  - Light blue  3DB5E6
  - Cool gray   C8C8C8
  */

#header-container {
  height: 50px;
  background-color: #004B98;
  /*old rgb(115, 197, 255);*/
  border-bottom: 2px solid #0A2240;
  /* old #003aa4 */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0px 16px;
  color: white;
}

.header-title {
  text-align: left;
  margin: 0;
  padding: 4px;
  /*color: #003aa4;*/
}

.login-button {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 28px;
  margin: 0;
  margin-right: 10px;
  color: white;
  /*color: #003aa4;*/
}

.main {
  height: 100%;
  padding: 0px;
  display: flex;
  flex-direction: row;
}

#menu-container {
  height: calc(100vh - 100px);
  width: calc(100vw - 214px);

  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  /* align-items: top; */
  align-content: flex-start;
  overflow-y: scroll;
  align-content: flex-start;

  border-top: 1px solid black;
  background-color: white;/* 
  background: rgb(61,181,230);
  background: linear-gradient(325deg, rgba(61,181,230,1) 0%, rgba(0,75,152,1) 100%);
   */padding: 2px;
}

.sidenav {
  min-width: 210px;   /* Set the width of the sidebar */
  background-color: #111; /* Dark gray */
  padding-top: 20px;
}
/* The navigation menu links */
.sidenav a {
  padding: 6px 12px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block; /* Display each link as a block */
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
  background-color: rgb(51, 51, 51);
}

a.active{
  background-color:green;
}

#order-badge { 
  /*display: none;*/
  height: 30px;
  width: 30px;
  text-align: center;
  color: white;
  font-size: 100%;
  background-color: red;
  border-radius: 16px;
  float:right;
}


#subheader {
  background-color: #C8C8C8;
  padding-top: 7px;
  padding-bottom: 7px;
}
#subheader h2 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 4px;
  margin-left: 15px;
  display:inline;
}
#vert-spacer {
  margin: 2px 15px;
  height: 24px;
  border-left: solid 2px black;
  display:inline;
}
#subheader input,#subheader select {
  display:inline;
  font-size: 90%;
  padding-top:6px;
  padding-bottom:6px;
  margin-right: 10px;
}

#subheader input {
  width:40%;
  border-radius: 8px;
}
#subheader select{
  width:20%;
  min-width: 150px;
}

#mobile-order-icon {
  display: none;
}
.menu-item {
  margin: 5px;
  padding: 10px;
  height: 200px;
  width: 200px;/* 
  border-radius: 5px;
  background-color: #818181; */
  display: flex;
  justify-content: end;
  flex-direction: column;/* 
  box-shadow: 3px 6px #111,
    2px 4px #111,
    1px 2px #111,
    4px 8px #111; /* Makes shadow look extended */

  background: #B9B9B9;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;

  position: relative;
}
.menu-item > p.cat {
  display: none;
}
.menu-item > p {
  margin: 7px 0px 0px 0px;
}
.menu-item > img {
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 4px;

  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.order-button {
  width: 70px;
  height: 70px;
  box-sizing: border-box;

  border-radius: 50%;

  position: absolute;
  left: 60%;/* 
  right: 8.33%;
  top: 68.42%;
  bottom: 5.26%; */

  background: linear-gradient(0deg, #9EBDE1, #9EBDE1), #9EE1A5;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-width: 710px) {
  .header-title {
    font-size: 100%;
  }

  .login-button {
    font-size: 125%;
  }

  #subheader {
    padding: 7px;
  }
  #subheader > *{
    margin: 0px;
    margin-right: 7px;
  }

  #subheader h2, #vert-spacer{
    display: none;
    /* font-size: 90%; */
  }

  #mobile-order-icon {
    display: block;
    height: 31px;
    border: solid black 1px;
    border-radius: 4px;
    /* margin-left: auto; */
    float:right;
    margin-right: 20px;
  }
  #mobile-order-icon > img {
    height: 100%;
  }

  .sidenav {
    display: none; /* HIDE NAVBAR */
    padding-top: 15px;
    min-width: 160px;
  }
  .sidenav a {
    font-size: 100%;
  }
  #yoderNotif {
    height: 22px;
    width: 22px;
  }
  
  #menu-container {
    height: 90vh;
    width: calc(100vw - 4px);
    justify-content: space-evenly;
    overflow-y: scroll;
  }
  .menuItem {
    margin: 1.5%;
    width: 42%;
  }

}
