html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family:'Verdana';
}

body {
  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  font-family: 'Trebuchet MS',s 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Etown official colors:
  - Main blue   004B98
  - Dark blue   0A2240
  - Red         E1261C
  - Light blue  3DB5E6
  - Cool gray   C8C8C8
  */

#header-container {
  height: 50px;
  background-color: #004B98;
  /*old rgb(115, 197, 255);*/
  border-bottom: 2px solid #0A2240;
  /* old #003aa4 */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0px 16px;
  color: white;
}

.header-title {
  text-align: left;
  margin: 0;
  padding: 4px;
  /*color: #003aa4;*/
}

.login-button {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 28px;
  margin: 0;
  margin-right: 10px;
  color: white;
  /*color: #003aa4;*/
}

.main {
  height: 100%;
  padding: 0px;
  display: flex;
  flex-direction: row;
}

#menu-container {
  height: calc(100vh - 100px);
  width: calc(100vw - 214px);

  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: top;
  overflow-y: scroll;

  border-top: 1px solid black;
  background-color: white;
  padding: 2px;
}

.sidenav {
  min-width: 210px;   /* Set the width of the sidebar */
  background-color: #111; /* Dark gray */
  padding-top: 20px;
}
/* The navigation menu links */
.sidenav a {
  padding: 6px 12px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block; /* Display each link as a block */
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
  background-color: rgb(51, 51, 51);
}

a.active{
  background-color:green;
}

#yoderNotif {
  height: 30px;
  width: 30px;
  text-align: center;
  color: white;
  font-size: 100%;
  background-color: red;
  border-radius: 16px;
  float:right;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-width: 550px) {
  .header-title {
    font-size: 100%;
  }

  .login-button {
    font-size: 125%;
  }

  #subheader h2{
    font-size: 90%;
  }

  .sidenav {
    padding-top: 15px;
    min-width: 160px;
  }
  .sidenav a {
    font-size: 100%;
  }
  #yoderNotif {
    height: 22px;
    width: 22px;
  }
}

#subheader {
  display: flex;
  background-color: #C8C8C8;

}
#subheader h2 {
  margin: 10px;
  margin-left: 15px;
}
#vertSpacer {
  margin: 6px 15px;
  width: 0px;
  border-left: solid 1px black;
}
#subheader input,#subheader select {
  width: 150px;
  margin: 10px ;
}

.menuItem {
  margin: 10px;
  padding: 10px;
  height: 200px;
  width: 200px;
  border-radius: 5px;
  background-color: #818181;
  display: flex;
  justify-content: end;
  flex-direction: column;
  box-shadow: 3px 6px #111,
    2px 4px #111,
    1px 2px #111,
    4px 8px #111; /* Makes shadow look extended */
}
.menuItem > p.cat {
  display: none;
}
.menuItem > p {
  margin: 7px 0px;
}
.menuItem > img {
  object-fit: cover;
  overflow: hidden;
  border-radius: 4px;
}
.orderButton {
  width: 100%;
}