html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#header-container {
  width: 100%;
  height: 50px;
  background-color: rgb(115, 197, 255);
  border-bottom: 2px solid #003aa4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0px;
}

.header-title {
  text-align: left;
  margin: 0;
  padding: 4px;
  color: #003aa4;
}

.login-button {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 28px;
  margin: 0;
  margin-right: 10px;
  color: #003aa4;
}

.main {

  height: 100%;

  padding: 0px;
  display: flex;
  flex-direction: row;
}

#menu-container {
  /* Firefox */
  height: -moz-calc(100vh - 105px);
  /* WebKit */
  height: -webkit-calc(100vh - 105px);
  /* Opera */
  height: -o-calc(100vh - 105px);
  /* Standard */
  height: calc(100vh - 95px);

  display: flex;
  /*ustify-content: space-around;*/
  flex-wrap: wrap;

  overflow-y: scroll;

  border-top: 1px solid black;
  padding: 2px;
}

.sidenav {
  min-width: 160px;   /* Set the width of the sidebar */
  background-color: #111; /* Dark gray */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block; /* Display each link as a block */
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

#menu input,#menu select {
  width: 150px;
  margin: 10px;
}

.menuItem {
  margin: 10px;
  padding: 10px;
  height: 200px;
  width: 200px;
  border-radius: 5px;
  background-color: #818181;
  display: flex;
  justify-content: end;
  flex-direction: column;
}

.menuItem > p.cat {
  display: none;
}

.orderButton {
  width: 100%;
}